<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>main</title>
<link rel="stylesheet" type="text/css" href="/common.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>

	<h1 align="center">🍝🍩 GREEDY RESTAURANT에 오신 것을 환영합니당! 🍩🍾</h1>
	
	<div align="center">
	<button onclick="location.href='/menu/81'">81번 메뉴 보기</button>
	<button onclick="location.href='/menu/list'">메뉴판 보기</button>
	<button onclick="location.href='/menu/regist'">메뉴 등록하기</button>
	<button onclick="location.href='/menu/modify'">메뉴 수정하기</button>
	<button onclick="location.href='/menu/remove'">메뉴 삭제하기</button>
	<button onclick="searchMenu()">메뉴 검색하기</button>
	<button onclick="location.href='/menu/recommend'">오늘의 메뉴 추천받기</button>
	</div>
	
	<script>
		/* 입력된 키워드로 검색한 결과를 화면에 조회시키기 */
		function searchMenu() {
			
			const keyword = prompt('키워드를 입력해주세요 🥳')
			
			if(keyword !== null && keyword.trim().length !== 0) {
				console.log(keyword);
				window.location.href = "/menu/search?keyword=" + keyword;
			} else {
				alert('키워드를 입력해주세요 🤥')
			}
		}
	</script>
	
</body>
</html>